.main__header {
  position: relative;
  height: 88.5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f8;
  background: url(../img/baner-main1.jpg);
  background-size: cover;
  animation: headerBaner 1.3s ease-in-out forwards;
  transform: translateY(-120%);
  opacity: 0;
}

.main__header h1 {
  font-size: 45px;
  margin-bottom: 40px;
}

.main__header p {
  color: #f6f7f8;
  text-shadow: inset 1px 1px 1px #f73232;
  opacity: 0;
  font-size: 20px;
  margin-bottom: 30px;
  animation: showHeaderBaner 1s ease-in-out 3s forwards;
}

.header-span-title {
  opacity: 0;
  color: #f73232;
  text-shadow: 0 0 3px #f6f7f8;
  animation: showHeaderBaner 1s ease-in-out 1s forwards;
}
.header-span-text {
  color: #f6f7f8;
  text-shadow: 0 0 3px #f73232;
  opacity: 0;
  animation: showHeaderBaner 1.5s ease-in-out 2s forwards;
}
.main__header button {
  position: relative;
  width: 200px;
  height: 50px;
  font-size: 14px;
  opacity: 0;
  animation: showHeaderBaner 0.5s ease-in-out 4s both;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);

  color: #ffffff;
  background-color: #8f2f2f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: bacground 0.3s;
}
.main__header button:hover {
  background-color: var(--main-color);
}
.main__header button:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}
.main__header button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  opacity: 0;
  animation: heart 1s ease-in-out 3s infinite alternate;
  z-index: -1;
}

@keyframes showHeaderBaner {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes headerBaner {
  0% {
    transform: translateY(-120%);
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 760px) {
  .header-span-text {
    font-size: 30px;
  }
  .main__header p {
    font-size: 15px;
  }
  .header-span-title {
    font-size: 40px;
  }
}
