.main__nav {
  position: relative;
  z-index: 5;
  height: 70px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: showHeaderBaner 0.5s ease-in-out 1.5s both;
}
.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
#navItems .button:nth-child(2) {
  margin-left: 30px;
}
.right {
  display: flex;
  align-items: center;
}
.button {
  color: #4e5355;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  margin-right: 25px;
}
.type__home {
  /* margin-left: 30px; */
}
.type__a a {
  color: #4e5355;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  text-decoration: none;
}
.type {
  color: #f73232;
  background-color: #ffffff;
  border: none;
}

.login {
  width: 70px;
  height: 35px;
  font-size: 13px;
  color: #ffffff;
  background-color: #f73232;
  border: none;
  border-radius: 6px;
}

@keyframes showHeaderNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
