.main__nav {
  position: relative;
  z-index: 5;
  height: 70px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: showHeaderBaner 0.5s ease-in-out 1.5s both;
}
.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}

#navItems .button:nth-child(2) {
  margin-left: 30px;
}
.right {
  display: flex;
  gap: 10px;
  align-items: center;
}
.button {
  width: 100%;
  color: #4e5355;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffffff;
  border: none;
  transition: 0.3s;
}
.button:hover {
  transform: translate(-1px, -1px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: var(--main-color);
}
.type__a a {
  color: #4e5355;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  text-decoration: none;
}
.type {
  color: gray;
  background-color: #ffffff;
  border: none;
}

.login {
  font-size: 13px;
  padding: 10px 10px;
  color: #ffffff;
  background-color: var(--sec-color);
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.login:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
.login:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

@keyframes showHeaderNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
