@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;400;500;800&display=swap");
@import "./nav.css";
@import "./profile.css";
@import "./admin.css";
@import "./header.css";
@import "./auth.css";
@import "./where.css";
@import "./bonus.css";

:root {
  --main-color: red;
  --sec-color: rgb(188, 52, 52);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}
.container {
  margin: auto;
  padding: 0 !important;
}
.footer {
  margin-top: 200px;
  padding: 0 200px;
  background-color: #fff;
  padding-top: 20px;
  height: 300px;
}
.none {
  display: none;
}
