<section>
  <div class="container">
    <div class="card admin">
      <h1>Админ Панель</h1>

      <table id="usersTable">
        <p>Список пользователей</p>
        <colgroup>
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <tr>
          <th>ID</th>
          <th>UserType</th>
          <th>Name</th>
          <th>Blood Type</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><p>1</p></td>
          <td><p>Donor</p></td>
          <td><p>Alex Elizarev</p></td>
          <td><p>0 (I) Rh+</p></td>
          <td>
            <button>Изменить</button>
            <button>Удалить</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
