<section>
  <h1 class="bonus-title">Бонусы для доноров</h1>
  <div class="bonus-container">
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/lavash_bonus.jpg" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title"><h2>Бесплатный лаваш от EVOS</h2></div>
        <div class="bonus-date">
          <p>до 31 Декабря 2023</p>
          <img src="img/evos.svg" alt="" class="bonus-icon" />
        </div>
      </div>
    </div>
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/hot-dog.jpg" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title">
          <h2>Бесплатный ход-дог от Oqtepa Lavash</h2>
        </div>
        <div class="bonus-date">
          <p>до 31 Декабря 2023</p>
          <img src="img/oqtepa.png" alt="" class="bonus-icon" />
        </div>
      </div>
    </div>
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/osvej.jpg" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title">
          <h2>Скидка 5% на освежитель воздуха от General Motors</h2>
        </div>
        <div class="bonus-date">
          <p>до 31 Декабря 2023</p>
          <img src="img/gm.png" alt="" class="bonus-icon_q" />
        </div>
      </div>
    </div>
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/allplaypodpis.png" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title">
          <h2>Скидка 30% на подписку от AllPlay.Uz</h2>
        </div>
        <div class="bonus-date">
          <p>до 31 Декабря 2023</p>
          <img src="img/allplay.png" alt="" class="bonus-icon_q" />
        </div>
      </div>
    </div>
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/podpis.jpg" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title">
          <h2>Скидка 100% на подписку от Даракчи</h2>
        </div>
        <div class="bonus-date">
          <p>до 31 Декабря 2023</p>
          <img src="img/Darakchi.jpg" alt="" class="bonus-icon" />
        </div>
      </div>
    </div>
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/soon.jpg" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title">
          <h2>Скоро...</h2>
        </div>
        <div class="bonus-date">
          <p>Ждем предложений по сотрудничеству</p>
        </div>
      </div>
    </div>
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/soon.jpg" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title">
          <h2>Скоро...</h2>
        </div>
        <div class="bonus-date">
          <p>Ждем предложений по сотрудничеству</p>
        </div>
      </div>
    </div>
    <div class="bonus-card">
      <div class="bonus-image">
        <img src="img/soon.jpg" alt="" />
      </div>
      <div class="bonus-content">
        <div class="bonus-card_title">
          <h2>Скоро...</h2>
        </div>
        <div class="bonus-date">
          <p>Ждем предложений по сотрудничеству</p>
        </div>
      </div>
    </div>
  </div>
</section>
