<section class="donor-list-container">
  <h2>Список доноров</h2>
  <table class="tabledonor">
    <tbody>
      <tr>
        <th>No</th>
        <th colspan="2">Полное Имя</th>
        <th>Группа Крови</th>
        <th>Кол-во донаций</th>
        <th>No Карточки</th>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <img
            src="https://donorsearch.org/static/images/icons/defaultUserAvatar.svg"
            alt="dress-2"
            width="43"
            height="100"
          />
        </td>
        <td>User Userovich</td>
        <td>IV+</td>
        <td>10</td>
        <td>+</td>
      </tr>
    </tbody>
  </table>
</section>
