<section class="donor-list-container">
  <h2>Список доноров</h2>
  <div class="navbar__card">
    <button class="accordion">Группа Крови</button>
    <div class="content">
      <button class="button-filter all" data-letter="all">All</button>
      <button class="button-filter one" data-letter="A">A</button>
      <button class="button-filter two" data-letter="O">O</button>
      <button class="button-filter three" data-letter="B">B</button>
      <button class="button-filter four" data-letter="AB">AB</button>
    </div>
  </div>

  <div class="navbar__card">
    <button class="accordion">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAVFJREFUSEvVleExBEEQRt9FQAoiQATIgAgQASJABIgAESACZEAEyIAIqKd6qub2Zmen7N4P/eu2dqdf99dfz81YcsyWnJ8+wCpwBOwCG1HEC3APXAGfrYWVAAfABSCkFCY/AW5aIF2Aya/j4ANwCTzF8zZwBmzF8150VOXkACt+i8oPKxUKOQ2Z1obkygHpoJWrfS3syk7Oo6veb3OAQ1wHdjJZ+g4q1yPgmc1aJTngOz5stW7T92MBXxW3/db7V4mc0R3wDChX0wzSkF0mLdgyZPdBKzcBtOk7sBLO0CGlSIV8xJZXt7o70NS6ibWiyZTBUAr9nyQZtGh3Bqlat9m27aQUDtb3wrSpv2/7NKpddsexcO6G8RpXgwmVJe2N77yX3P6FaPV86Wx+b/VCxgBS0v2MvtDJWMAgZApAFzJ3E08FSBCtPfdHNCWg6NT/D/gBeOVFGZeTouUAAAAASUVORK5CYII="
      />
    </button>
    <div class="content">
      <input
        class="input"
        id="input"
        type="text"
        placeholder="search"
        onkeyup="search()"
      />
    </div>
  </div>
  <div id="table-users">
    <table class="tabledonor">
      <tbody>
        <tr>
          <th>No</th>
          <th colspan="2">Полное Имя</th>
          <th>Группа Крови</th>
          <th>Резус</th>
          <th>Кол-во донаций</th>
        </tr>

        <tr class="type">
          <td>1</td>
          <td>
            <img
              src="https://donorsearch.org/static/images/icons/defaultUserAvatar.svg"
              alt="dress-2"
              width="43"
              height="100"
            />
          </td>
          <td class="table-username">Alex Elizarev</td>
          <td id="table-blood">AB</td>
          <td>+</td>
          <td>10</td>
        </tr>
        <tr class="type">
          <td>1</td>
          <td>
            <img
              src="https://donorsearch.org/static/images/icons/defaultUserAvatar.svg"
              alt="dress-2"
              width="43"
              height="100"
            />
          </td>
          <td class="table-username">Dmitriy Gordon</td>
          <td id="table-blood">A</td>
          <td>+</td>
          <td>10</td>
        </tr>
        <tr class="type">
          <td>1</td>
          <td>
            <img
              src="https://donorsearch.org/static/images/icons/defaultUserAvatar.svg"
              alt="dress-2"
              width="43"
              height="100"
            />
          </td>
          <td class="table-username">User Userovich</td>
          <td id="table-blood">O</td>
          <td>-</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<script src="/scripts/donors-list.js"></script>
