<section>
  <div class="container">
    <div class="card how now">
      <h1>Бонусы для доноров</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum
        tenetur obcaecati accusantium vel, impedit quidem dignissimos? Unde
        quisquam blanditiis, pariatur debitis nostrum nisi delectus aliquam
        inventore illum totam possimus?
      </p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN8WU0bVSdAO-XntBv5SKE45e75QUYse6hFA&usqp=CAU"
        alt=""
      />
    </div>
  </div>
</section>
