<footer class="footer">
  <div class="footer_logo">
    <img src="images/893529.png" alt="" class="footer_logo_image" />
    <span class="footer_logo_text">Банк крови</span>
  </div>
  <div class="footer_content">
    <div class="footer_information">
      <p><span class="red">Мы</span> - твой путеводитель в мире донорсва</p>
    </div>
    <div class="footer_content_navigation">
      <h2 class="footer_title">Навигация</h2>
      <a href="index.html" class="footer_nav">Главная</a>
      <a href="" class="footer_nav">Доноры</a>
      <a href="index2.html" class="footer_nav">Вход</a>
    </div>
    <div class="footer_content_contacts">
      <h2 class="footer_title">Контакты</h2>
      <div class="contact_icons">
        <a href="" class="contact_links"
          ><img src="images/telegram.png" alt="" class="contact_logo" /></a
        ><a href="" class="contact_links"
          ><img src="images/instagram.png" alt="" class="contact_logo" /></a
        ><a href="" class="contact_links"
          ><img src="images/facebook.png" alt="" class="contact_logo" /></a
        ><a href="" class="contact_links"
          ><img src="images/linkedin.png" alt="" class="contact_logo"
        /></a>
      </div>
      <a class="contacts_mail" href="">bank_krovi@gmail.com</a>
    </div>
  </div>
</footer>
