<nav>
  <div class="container">
    <div class="main__nav">
      <input type="checkbox" id="burger">
      <label for="burger"><span></span></label>
      <div id="navItems" class="left">
        <img src="img/newLogoIcon.svg"  alt="" class="nav__logo" />
      </div>
      <div id="authBlock" class="right">
        <!-- Dialog Contents -->
        <div
          id="dialog-content"
          class="auth-dialog"
          style="display: none"
        ></div>
      </div>
    </div>
  </div>
</nav>
