<form name="login">
  <div class="imgcontainer">
    <img src="img/newLogoIcon.svg" alt="Logo" class="logo" />
  </div>

  <div class="auth-container">
    <input
      type="text"
      placeholder="Введите Имя Пользователя"
      name="username"
      required
    />

    <input
      type="password"
      placeholder="Введите Пароль"
      name="password"
      required
    />

    <button id="actionBtn" class="form-button" type="submit">Войти</button>
  </div>

  <span class="psw"
    >Еще нет аккаунта? <a id="changeActionBtn">Зарегистрироваться</a></span
  >
</form>
