<form name="login">
  <div class="imgcontainer">
    <img src="/../img/newLogoIcon.svg" alt="Logo" class="logo" />
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required />

    <label for="password"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      required
    />

    <button id="actionBtn" type="submit">Войти</button>
  </div>

  <div class="container" style="background-color: #f1f1f1">
    <span class="psw"
      >Еще нет аккаунта? <a id="changeActionBtn" style="color: rgb(0, 128, 255)">Зарегистрироваться</a></span
    >
  </div>
</form>
