<header>
  <div class="container">
    <div class="card home">
      <div class="main__header">
        <h1>
          <span class="header-span-title"> DonorSearch — </span> 
          <span class="header-span-text">
              твой путеводитель в мире
              донорства
          </span>
        </h1>
        <p>
          Донорство крови — это приключение. Решайся, а в остальном мы поможем
        </p>
        <button>Присоединиться</button>
      </div>
    </div>
  </div>
</header>
