<form name="register" style="border: 1px solid #ccc">
  <div class="imgcontainer">
    <img src="img/newLogoIcon.svg" alt="Logo" class="logo" />
  </div>
  <div class="auth-container">
    <input type="text" placeholder="Ваш Email" name="email" required />

    <input
      type="text"
      placeholder="Ваше Имя Пользователя"
      name="username"
      required
    />
    <input type="text" placeholder="Ваше Полное Имя" name="fullname" required />

    <input type="password" placeholder="Ваш Пароль" name="password" required />

    <div>
      <label class="select-type">
        <select required name="type">
          <option value="donor">Я являюсь донором</option>
          <option value="clinic" selected>Я представляю клинику</option>
        </select>
      </label>
    </div>
    <div style="margin-top: 5px">
      <label style="border: 1px solid gray" class="select-blood">
        Группа Крови
        <select required name="blood">
          <option value="O" selected>O</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="AB">AB</option>
        </select>
        <select required name="blood2">
          <option value="+" selected>+</option>
          <option value="-">-</option>
        </select>
      </label>
    </div>

    <p class="auth-btn">
      <button id="actionBtn" type="submit" class="form-button">
        Зарегистрироваться
      </button>
    </p>
  </div>
  <span class="psw">
    Уже есть аккаунт?
    <a id="changeActionBtn">Войти</a>
  </span>
</form>
