<div id="userProfile" class="profile">
  <div>
    <img src="/../img/newLogoIcon.svg" alt="Profile" class="profile-photo" />
    <p class="profile-photo-text">Изменить картинку</p>
  </div>
  <p class="profile-item profile-username">
    
    <span class="profile-item__current" id="username">AlexElizarev</span>
  </p>
  <p class="profile-item profile-type">
    Вы являетесь: <span class="profile-item__current" id="type">Донором</span>
  </p>
</div>
<button id="profileAdmin" class="profile-button__admin">Админ Панель</button>
<button id="profileLogout" class="profile-button__logout">
  Выйти из профиля
</button>
