<section>
  <div class="container">
    <div class="card">
      <h1 class="where-title">Карта пунктов сдачи крови</h1>
      <p class="where-text">
        Нет пунктов сдачи в вашем городе... Попробуйте позже...
      </p>
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac37394c2dcc9de10eb1904b74097e4bebb1e9f6937ac6cd1e77c0e545c74aa63&amp;source=constructor"
        width="100%"
        height="400"
        frameborder="0"
        class="where-map"
      ></iframe>
    </div>
  </div>
</section>
